@import url(https://fonts.googleapis.com/css?family=Quintessential);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	background: #000;
	color: #FFF;
}

header h1 {
	margin-top: 0;
	margin-left: 40px;
	padding-top: 10px;
	font-family: "Montserrat", sans-serif;
}

section {
	margin: 0 auto;
	margin-top: 5%;
	padding: 0;
	width: 100%;
	text-align: center;
}

section h1 {
	font-family: "Montserrat", sans-serif;
	margin-top: -30px;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 300%;
}

#container {
	margin: 0 auto;
	padding: 0;
	width: 980px;
}

#container .news {
	width: 190px;
	height: 350px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	border: 1px solid #CCC;
	display: inline-table;
	position: relative;
	background: #FFF;
}

#container .news img {
	width: 190px;
	clear: both;
}

#container .user {
	background: rgba(0, 0, 0, 0.7);
	color: #FFF;
	position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 30px;
	margin: 0;
	text-indent: 10px;
	padding-top: 12px;
	font-size: 90%;
	font-weight: bold;
	text-transform: uppercase;
}

#container .user a {
	display: block;
	width: 100%;
	color: #FFF;
}

#container p {
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 90%;
}

#container p a {
	color: #2374B8;
	text-decoration: none;
}

#container p a:hover {
	text-decoration: underline;
}

#container .votes {
	background: rgb(255, 192, 203);
	color: #FFF;
	position: absolute;
	bottom: 0;
	z-index: 99;
	width: 100%;
	height: 30px;
	margin: 0;
	text-indent: 10px;
	padding-top: 10px;
	font-size: 90%;
	font-weight: bold;
	text-transform: uppercase;
}